
<div class="video">

  <h2 class="section-title">{{ section.settings.section-title }}</h2>

  {% if section.settings.url contains "youtu.be" %}
    {% assign videoId = section.settings.url | split: "/" | last %}

    <iframe src="https://www.youtube.com/embed/{{ videoId }}?rel=0&showinfo=0&vq=720" frameborder="0"></iframe>

  {% else %}

    <video src="{{section.settings.url}}" controls controlsList="nodownload" width="100%" height="100%"></video>

  {% endif %}   

</div>


{% schema %}
{
  "name": "Video",
  "class":"section-video",
  "settings": [
    {
      "type": "text",
      "id": "section-title",
      "label": "titre de la section",
      "default": "titre de la section"
    },
    {
      "type":"text",
      "id": "url",
      "label": "Url de votre vidéo",
      "info": "Url youtube ou fichier mp4"
    }
  ],
  "presets": [
    {      
      "name": "Video",
      "category": "Média"
    }
  ]
}
{% endschema %}